<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>SpringBase</display-name>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:springConfig/spring-beans.xml</param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!--编码字符集统一为UTF-8（过滤器） -->
  <!-- Reads request input using UTF-8 encoding -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--配置spring分发器(是总的控制中心 被拦截的url会汇聚到该servlet) -->
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!--配置spring上下文 (从该目录下加载spring mvc的配置文件) -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springConfig/spring-mvc.xml</param-value>
    </init-param>
    <!-- tomcat启动后立即加载 -->
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!--配置spring拦截的url模板 -->
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
